.loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	h1 {
		font-size: 20px;
		background-color: var(--col-col2);
		padding: 0.5rem;
		text-align: center;
		color: var(--col-col5);
	}
	.formWrapper {
		background: var(--col-col3);
		padding: 1rem;
		.txtBox {
			input {
				margin-bottom: 1em;
				padding: 0.5em 0.7em;
				border: none;
				border-bottom: 1px solid rgb(197, 197, 197);
				color: var(--col-col3);
				&:focus-visible {
					outline: 2px solid var(--col-col8);
				}
				&:focus {
					&::placeholder {
						color: var(--col-col7);
					}
				}
			}
		}
		.logBtn {
			border: none;
			background-color: var(--col-col8);
			display: block;
			margin-bottom: 0.5em;
			padding: 0.5em 1em;
			font-size: 1rem;
			border-radius: 5px;
			width: 100%;
			color: var(--col-col7);
			text-align: center;
			cursor: pointer;
		}
		.bottomText {
			font-size: 12px;
			text-align: center;
			span {
				display: block;
				color: var(--col-col5);
			}
			a {
				color: var(--col-col8);
			}
		}
	}
}